{% extends "post/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container m-5">
  <div class="row">
    <div class="">
      <div class="row">
        {% for post in posts%}
        <article class="media content-section">
          <div class="media-body">
            <div class="col-md-2">
              <div style="height: fit-content; width: fit-content; margin: 10px; box-shadow:2px 2px 3px 3px #888888;"
                class="card">
                <img class="rounded-circle" src="{{ post.author.profile.image.url }}" height="50px" width="50px">
                  <a class="mr-2" href="#">{{ post.author }}</a>
                  <small class="text-muted">{{ post.date_posted|date:"F d , Y" }}</small> <br>
                  <img style="height: 250px; width: 300px;" class="image-thumbnail" src="{{ post.image.url }}"> <br>
                <div class="article-metadata text-centre">
                  <h5 class="text-centre"><a class="article-title text-centre" href="#">{{ post.title }}</h4></a>
                    {% for comment in comments %}
                    {% if comment.image_id == image.id%}
                        <p><strong>{{comment.user}}:</strong> {{comment.comment}}</p>
                        <p>{{comment.posted | timesince}}</p><hr>
                    {% endif %}
                {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </article>
        {% endfor %}
        <form method="POST" action="/saveimage/" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
          <legend class="border-bottom mb-4">Upload Pic</legend>
          <input type="text" placeholder="title" name="title">
          <input type="file" name="image">
          </fieldset>
          <div class="from-group">
              <button class="btn btn-outline-info" type="submit">Upload</button>
          </div>
      </form>

        
      </div>
    </div>
  </div>
</div>
{% endblock content %}