{% extends "post/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
      
       <style>
         form{
          text-align: center;
         }
       </style>

<div class="show">
  <h2 style="color: rgb(245, 220, 220); font-size: 70px;"  class="text-center  bg-primary "><b>showcase & discover <br> creative work</b></h2>
</div>


<div class="container">
  
  <div class="row">
    <div class="">
      <div class="row">
        {% for post in posts%}
        <article class="media content-section">
          <div class="media-body col-sm">
            <div class="">
              <div style="height: fit-content; width: fit-content; margin: 10px; box-shadow:2px 2px 3px 3px #888888;"
                class="card m-4">
                <img class="rounded-circle" src="{{ post.author.profile.image.url }}" height="50px" width="50px">
                  <a class="mr-2" href="#">{{ post.author }}</a>
                  <small class="text-muted">{{ post.date_posted|date:"F d , Y" }}</small> <br>
                  <img style="height: 250px; width: 300px; " class="image-thumbnail" src="{{ post.image.url }}"> <br>
                <div class="article-metadata text-centre">
                  <h6 class="text-centre"><b>{{ post.title }}</b></h6>
                    
                    {% for comment in comments %}
                    {% if comment.image_id == image.id%}
                        <p><strong>{{comment.user}}:</strong> {{comment.comment}}</p>
                        <a href="{% url 'coment' %}"></a>
                        <p>{{comment.posted | timesince}}</p><hr>
                    {% endif %}
                {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </article>
        {% endfor %}    
      </div>
    </div>
  </div>
</div>
{% endblock content %}