{% extends "post/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
      
       <style>
         form{
          text-align: center;
         }
       </style>

<div class="show">
  <h2 style="color: rgb(245, 220, 220); font-size: 70px;"  class="text-center  bg-primary "><b>showcase & discover <br> creative work</b></h2>
</div>


<div class="container">
  
  <div class="row">
    <div class="">
      <div class="row">
        {% for post in posts%}
        <article class="media content-section">
          <div class="media-body col-sm">
            <div class="">
              <div style="height: fit-content; width: fit-content; margin: 10px; box-shadow:2px 2px 3px 3px #888888;"
                class="card m-3">
                <img class="rounded-circle" src="{{ post.author.profile.image.url }}" height="50px" width="50px">
                  <a class="mr-2" href="#">{{ post.author }}</a>
                  <small class="text-muted">{{ post.date_posted|date:"F d , Y" }}</small> <br>
                  <img style="height: 250px; width: 300px; " class="image-thumbnail" src="{{ post.image.url }}"> <br>
                <div class="article-metadata text-centre">
                  <h6 class="text-centre"><b>{{ post.title }}</b></h6>
                  <a style="font-size: 20px;" href="{% url 'like-post' post.id %}"><i  class="fa-solid fa-heart"></i> {{post.likes}}</a>
                  {% for comment in image.comments.all %}
                    <div class="comment ">
                        <div class="ml-2">
                            <strong>{{ comment.owner | lower}}</strong>
                            <span class="">{{ comment.comment |capfirst}}</span>
                            <p>
                                <small><span class="text-muted">{{ comment.created | timesince }}</span></small>
                            </p>
                        </div>
                    </div>
                    {% empty %}
                    <p class="ml-3">Be the first to comment</p>
                    {% endfor %}
                  <a style="font-size: 15px; float: right; margin-left: 25px;" href="{% url 'comments' post.id %}"><i class="fa-solid fa-comments"></i></a> <br>
                    
                </div>
              </div>
            </div>
          </div>
        </article>
        {% endfor %}    
      </div>
    </div>
  </div>
</div>
{% endblock content %}